<!doctype HTML>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twibe</title>
    <link rel="stylesheet" href="FinalProject/application/templates/homePage.css">
    <link rel="stylesheet" href="/path/to/flickity.css" media="screen">
</head>
<body>
  <script src="js/scripts.js"></script>
  <script src="/path/to/flickity.pkgd.min.js"></script>
  <nav class="c-nav">
      <a href="">
        <div class="c-nav__chatbot chat-bot__icon">
            ::before
        </div>
      </a>
      <div class="c-nav__signout connect-us">
        ::before
        <div class="connect-modal">
            <p data-splitting class="words char splitting" style="--word-total: 3; --char-total:13;">
                <span class="word" data-word="Connect" style="--word-index:0";>
                    <span class="char" data-char="C" style="--char-index:0;">C</span>
                    <span class="char" data-char="o" style="--char-index:1;">o</span>
                    <span class="char" data-char="n" style="--char-index:2;">n</span>
                    <span class="char" data-char="n" style="--char-index:3;">n</span>
                    <span class="char" data-char="e" style="--char-index:4;">e</span>
                    <span class="char" data-char="c" style="--char-index:5;">c</span>
                    <span class="char" data-char="t" style="--char-index:6;">t</span>
                </span>
                <span class="whitespace"> </span>
                <span class="word" data-word="with" style="--word-index:1";>
                    <span class="char" data-char="w" style="--char-index:7;">w</span>
                    <span class="char" data-char="i" style="--char-index:8;">i</span>
                    <span class="char" data-char="t" style="--char-index:9;">t</span>
                    <span class="char" data-char="h" style="--char-index:10;">h</span>
                </span>
                <span class="whitespace"> </span>
                <span class="word" data-word="us" style="--word-index:2;">
                    <span class="char" data-char="u" style="--char-index:11;">u</span>
                    <span class="char" data-char="s" style="--char-index:12;">s</span>
                </span>
            </p>
            <svg viewBox="0 0 24 24">
                <path stroke="#011B33" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M18 6L6 18M6 6l12 12"></path>
            </svg>
            <a class="connect-twitter__btn" target="_blank" href="">Connect on Twitter</a>
            <a class="sign-out__btn" target="_blank" href="">Sign Out</a>
            <div class="connect-modal__bg"></div>
        </div>

      </div>
  </nav>
  <main data-router-wrapper>
    <div class="row">
        <div class="column" style="background-color: #b8bcd8">
            <section class="c-tracks" data-router-view="tracks">
                <div class="track-cover">
                    <!--<a href=""></a> ADD PLAY BUTTON OR LINK TO SOMETHING(??) OR FIGURE OUT HOW TO PLAY AUTOMATICALLY-->
                    ::before
                    <div class="c-playlists-code">
                        <span class="c-instructions">Scan Spotify Code</span>
                        <img src="FinalProject/application/static/spotify-codes/spcode-62oCnK99vT8HOgwPsvXuiM (2).jpeg" alt="scannable spotify code">
                    </div>
                    ::after
                </div>
            </section>
         </div>
         <div class="column" style="background-color: #dce4df;">
          <h2>Working Through Stress</h2>
          <p>There isn't a right or wrong way to cope with stress. What works for one person may not work for another, and what can work in one situation may not work in another situation. Here are some common ways to work through stress and maintain wellness.<br><br> 
              <b>Focus on what you can do.</b> There is usually something we can do to manage stress in most situations. Resist the urge to give up and run away from problems---these coping choices often make stress worse in the long run.<br />
              <b>Manage emotions.</b> Try not to bottle up emotions. Try expressing your feelings by talking or writing them down. Try not to lash out at other people. Yelling usually pushes people away when you need them the most.<br />
              <b>Seek out support.</b> Ask someone their opinion or advice on how to handle the situation. Check out your reasoning before coming to a final decision. Get emotional support from someone who understands you and cares about you.<br />
              <b>Focus on the positives.</b> Brainstorm possible solutions.
          </p>
  
         </div>
    </div>
  </main>
  
  

</body>
</html>