{% extends "Layouts/layout.html" %}
{% block content %}
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="1280" data-image-height="800" id="sec-3936">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img src="../static/assets/img/cgvjhbkj.gif" alt="" class="u-image u-image-default u-image-1" data-image-width="1600" data-image-height="800">
        <h1 class="u-custom-font u-text u-text-custom-color-1 u-text-default u-title u-text-1">Casper - not found!</h1>
        <p class="u-large-text u-text u-text-default u-text-variant u-text-2">Finding Casper is a lot more easier than finding a party to go to during this Pandemic! Let's get together to find the nearest parties in your area.</p>
        <a href="/party" class="u-btn u-button-style u-custom-color-2 u-btn-1">I am Scared</a>
        <img src="../static/assets/img/Untitled1.png" alt="" class="u-image u-image-contain u-image-default u-image-2" data-image-width="549" data-image-height="260">
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-shading u-section-2" id="sec-2add" data-image-width="1280" data-image-height="720">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-custom-font u-large-text u-text u-text-custom-color-1 u-text-variant u-text-1">If you thought Halloween was all about kids in costumes collecting candy, then you are missing out on the beautiful, dark side of Halloween. This pandemic explore a new dimension of spookiness and chill in your bones! 
The Casper – not found giant’s Halloween combines physical and digital elements, building on the past parties and meetups we’ve brought you a digitalized Halloween to blow up 2020 in the Casper style!</p>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="carousel_2866">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-align-left u-black u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                  <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-color-scheme-u11 u-color-style-multicolor-1 u-custom-font u-text u-text-palette-1-base u-text-1">Our Project</h2>
                    <p class="u-custom-font u-text u-text-grey-50 u-text-2">In the times of horrors where the entire work has been forced to stay indoors including casper our app aims to help kids teens adults to have a spooky halloween and have their parties..... virtually</p>
                  </div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1">
                  <div class="u-container-layout u-container-layout-2"></div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-2">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-3" data-image-width="1200" data-image-height="670">
                  <div class="u-container-layout u-container-layout-4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="../static/assets/img/source.gif" alt="" class="u-image u-image-default u-image-4" data-image-width="2480" data-image-height="2480">
    </section>

{% endblock %}
{% block home %} 

{% endblock home %}
