
    <footer class="site-footer">
      <div class="footer-cover-title flex justify-content-center align-items-center">
          <h2>#TWIBE</h2>
      </div><!-- .site-footer -->

      <div class="footer-content-wrapper">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="entry-title">
                          <a href="#">#TWIBE</a>
                      </div><!-- entry-title -->

                      <div class="entry-mail">
                          <a href="#">SAYHELLO@#TWIBE.COM</a>
                      </div><!-- .entry-mail -->

                      <div class="footer-social">
                          <ul class="flex justify-content-center align-items-center">
                              <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                              <li><a href="#"><i class="fab fa-behance"></i></a></li>
                              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                          </ul>
                      </div><!-- footer-social -->
                  </div><!-- col -->
              </div><!-- row -->
          </div><!-- container -->
      </div><!-- footer-content-wrapper -->
  </footer><!-- site-footer -->

  <script type='text/javascript' src='../../static/js/jquery.js'></script>
  <script type='text/javascript' src='../../static/js/masonry.pkgd.min.js'></script>
  <script type='text/javascript' src='../../static/js/jquery.collapsible.min.js'></script>
  <script type='text/javascript' src='../../static/js/swiper.min.js'></script>
  <script type='text/javascript' src='../../static/js/jquery.countdown.min.js'></script>
  <script type='text/javascript' src='../../static/js/circle-progress.min.js'></script>
  <script type='text/javascript' src='../../static/js/jquery.countTo.min.js'></script>
  <script type='text/javascript' src='../../static/js/custom.js'></script>
