<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>Hello World!</title>
    
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome-all.min.css')}}">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/swiper.min.css')}}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    {% include "Layouts/nav.html" %}
    {% block content %}
    {% endblock %}
    {% include "Layouts/footer.html" %}
</html>