<header class="site-header">
    <div class="header-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-10 col-lg-4">
                    <h1 class="site-branding flex">
                        <a href="/index">Twibe</a>
                    </h1>
                </div>

                <div class="col-2 col-lg-8">
                    <nav class="site-navigation">
                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->

                        <ul>
                            <li><a href="/index">HOME</a></li>
                            <li><a href="/blog">BLOG</a></li>
                            <li><a href="/bot">Bot</a></li>
                            {% if tweets is not none %}
                            <li>{{ tweets }}</li>
                            <li class="button-header"><a href="/logged" class="btn btn3">Log {{status}}</a></li>
                                        {% endif %}
                        </ul><!-- flex -->
                    </nav><!-- .site-navigation -->
                </div><!-- .col-12 -->
            </div><!-- .row -->
        </div><!-- container-fluid -->
    </div><!-- header-bar -->
</header><!-- .site-header -->
